// 给项目提供的全局的scss变量

$redColor: red;

// 左侧菜单的宽度
$base-menu-width: 250px;
$base-menu-collapse-width: 60px;
// 左侧背景
$base-menu-bgcolor: #000;

//顶部导航
$base-tabbar-height: 60px;

//左侧菜单 logo平台标题
$base-menu-logo-height: 50px;
$base-menu-logo-fz: 20px;
